@use "../../../../sass/abstracts/placeholders";

button {
  @extend %ripple;

  border-radius: 50%;
  height: 4rem;
  width: 4rem;

  & .state-layer {
    display: grid;
    height: 100%;
    place-items: center;
    position: relative;
    width: 100%;
  }
}
