$light-theme-map: (
  "primary": #8d418a,
  "on-primary": #ffffff,
  "primary-container": #ffd7f7,
  "on-primary-container": #380039,
  "secondary": #5156a9,
  "on-secondary": #ffffff,
  "secondary-container": #e1e0ff,
  "on-secondary-container": #070764,
  "tertiary": #7d5700,
  "on-tertiary": #ffffff,
  "tertiary-container": #ffdeaa,
  "on-tertiary-container": #271900,
  "error": #ba1a1a,
  "on-error": #ffffff,
  "error-container": #ffdad6,
  "on-error-container": #410002,
  "background": #fffbff,
  "on-background": #1e1a1d,
  "surface": #fffbff,
  "on-surface": #1e1a1d,
  "surface-variant": #eedee7,
  "on-surface-variant": #4e444b,
  "outline": #7f747c,
  "outline-variant": #d1c3cb,
  "inverse-surface": #342f32,
  "inverse-on-surface": #f8eef2,
  "inverse-primary": #ffaaf6,
  "custom-color": #1e6c2a,
  "custom-on-color": #ffffff,
  "custom-color-container": #a5f6a2,
  "custom-on-color-container": #002105,
);

@function theme-get($key) {
  @return map-get($map: $light-theme-map, $key: $key);
}

body {
  background-color: theme-get("background");
  color: theme-get("on-background");
}

app-top-bar {
  & .top-bar {
    background-color: theme-get("surface");
    transition: background-color 150ms ease-in;

    &__nav-icon path {
      fill: theme-get("on-surface");
    }

    &__title {
      color: theme-get("on-surface");
    }

    &__actions :not(button.avatar) > svg path {
      fill: theme-get("on-surface-variant");
    }
  }

  & header.elevation {
    background-color: #f6ecf6;
  }
}

app-icon-button {
  & button:hover .state-layer {
    background-color: rgba(
      $color: theme-get("on-surface-variant"),
      $alpha: 0.08
    );
  }

  & button:focus .state-layer,
  & button:active .state-layer {
    background-color: rgba(
      $color: theme-get("on-surface-variant"),
      $alpha: 0.12
    );
  }
}

app-button {
  & .button--text {
    color: theme-get("primary");

    &:hover {
      background-color: rgba($color: theme-get("primary"), $alpha: 0.08);
    }

    &:focus,
    &:active {
      background-color: rgba($color: theme-get("primary"), $alpha: 0.12);
    }

    & svg path {
      fill: theme-get("primary");
    }
  }

  & .button--outlined {
    border: 0.1rem solid theme-get("outline");
    color: theme-get("primary");

    & svg path {
      fill: theme-get("primary");
    }
  }

  & .button--filled {
    background-color: theme-get("primary");
    color: theme-get("on-primary");

    & svg path {
      fill: theme-get("on-primary");
    }

    &.disabled {
      background-color: rgba($color: theme-get("on-surface"), $alpha: 0.12);
      color: rgba($color: theme-get("on-surface"), $alpha: 0.38);

      & svg path {
        fill: rgba($color: theme-get("on-surface"), $alpha: 0.38);
      }
    }
  }
}

app-text-field {
  & .text-field {
    &__input {
      border: 0.1rem solid theme-get("outline");
      color: theme-get("on-surface");

      &:focus {
        border: 0.2rem solid theme-get("primary");
        caret-color: theme-get("primary");
      }
    }

    &__error {
      color: theme-get("error");
    }
  }
}

app-client-item {
  & .client {
    background-color: theme-get("tertiary-container");

    &__email {
      color: theme-get("on-surface-variant");
    }

    &__status {
      background-color: theme-get("custom-color-container");
    }

    &__status-text {
      color: theme-get("custom-on-color-container");
    }
  }
}

app-navigation-card {
  & .card {
    background-color: theme-get("surface-variant");
    &__top {
      background-color: theme-get("primary");
    }
  }
}

app-category-item {
  & .category {
    background-color: #f2e7f2;

    &__leading-icon path {
      fill: theme-get("on-surface-variant");
    }
  }
}

app-product-item {
  & .product {
    background-color: #f9f2f9;

    &__leading-icon path {
      fill: theme-get("on-surface-variant");
    }

    &__img-container {
      border: 0.1rem solid theme-get("outline");
    }
  }
}

app-switch {
  & .switch {
    & span.slider {
      background-color: theme-get("surface-variant");
      border: 0.2rem solid theme-get("outline");
    }

    & span.slider::before {
      background-color: transparent;
    }

    & span.slider::after {
      background-color: theme-get("outline");
    }

    & input:checked + span.slider {
      background-color: theme-get("secondary");
      border-color: transparent;
    }

    & input:checked + span.slider::after {
      background-color: theme-get("on-secondary");
    }

    & input:not(:disabled):hover + span.slider::after {
      background-color: theme-get("on-surface-variant");
    }

    & input:not(:disabled):hover + span.slider::before,
    & input:not(:disabled):checked:hover + span.slider::before {
      background-color: rgba(
        $color: theme-get("on-surface-variant"),
        $alpha: 0.08
      );
    }

    & input:not(:disabled):focus + span.slider::before,
    & input:not(:disabled):active + span.slider::before,
    & input:not(:disabled):checked:focus + span.slider::before,
    & input:not(:disabled):checked:active + span.slider::before {
      background-color: rgba(
        $color: theme-get("on-surface-variant"),
        $alpha: 0.12
      );
    }

    & input:not(:disabled):checked:hover + span.slider::after {
      background-color: theme-get("secondary-container");
    }

    & input:not(:disabled):checked:active + span.slider::after {
      background-color: theme-get("secondary-container");
    }
  }
}
