$light-theme-map: (
  "primary": #8d418a,
  "on-primary": #ffffff,
  "primary-container": #ffd7f7,
  "on-primary-container": #380039,
  "secondary": #5156a9,
  "on-secondary": #ffffff,
  "secondary-container": #e1e0ff,
  "on-secondary-container": #070764,
  "tertiary": #7d5700,
  "on-tertiary": #ffffff,
  "tertiary-container": #ffdeaa,
  "on-tertiary-container": #271900,
  "error": #ba1a1a,
  "on-error": #ffffff,
  "error-container": #ffdad6,
  "on-error-container": #410002,
  "background": #fffbff,
  "on-background": #1e1a1d,
  "surface": #fffbff,
  "on-surface": #1e1a1d,
  "surface-variant": #eedee7,
  "on-surface-variant": #4e444b,
  "outline": #7f747c,
  "outline-variant": #d1c3cb,
  "inverse-surface": #342f32,
  "inverse-on-surface": #f8eef2,
  "inverse-primary": #ffaaf6,
  "custom-color": #1e6c2a,
  "custom-on-color": #ffffff,
  "custom-color-container": #a5f6a2,
  "custom-on-color-container": #002105,
);

@function theme-get($key) {
  @return map-get($map: $light-theme-map, $key: $key);
}

app-top-bar {
  & .top-bar {
    background-color: theme-get("surface");
    transition: background-color 150ms ease-in;

    &__nav-icon path {
      fill: theme-get("on-surface");
    }

    &__title {
      color: theme-get("on-surface");
    }
  }

  & header.elevation {
    background-color: #f6ecf6;
  }
}

app-icon-button {
  & button:hover .state-layer {
    background-color: rgba(
      $color: theme-get("on-surface-variant"),
      $alpha: 0.08
    );
  }

  & button:focus .state-layer,
  & button:active .state-layer {
    background-color: rgba(
      $color: theme-get("on-surface-variant"),
      $alpha: 0.12
    );
  }
}

app-text-button {
  & .button--text {
    color: theme-get("primary");
  }

  & .button--text:hover {
    background-color: rgba($color: theme-get("primary"), $alpha: 0.08);
  }

  & .button--text:focus,
  & .button--text:active {
    background-color: rgba($color: theme-get("primary"), $alpha: 0.12);
  }
}

app-client-item {
  & .client {
    background-color: theme-get("tertiary-container");

    &__email {
      color: theme-get("on-surface-variant");
    }

    &__status {
      background-color: theme-get("custom-color-container");
    }

    &__status-text {
      color: theme-get("custom-on-color-container");
    }
  }
}
