@use "../../../../sass/base/typography";

.top-bar {
  align-items: center;
  column-gap: 0.8rem;
  display: flex;
  height: var(--top-bar-height);
  width: 100%;
  padding: 0 1.6rem;

  &.fixed {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
  }

  &__title {
    @extend %title-l;
    flex: 1;
  }

  &__actions {
    align-items: center;
    column-gap: 0.8rem;
    display: flex;
  }
}
