<app-add-edit-category-top-bar
  [editVariant]="editVariant"
  (closeClick)="onClose()"
  (deleteClick)="onDelete()"
  [canDelete]="(isAdmin$ | async) ?? false"
  [loading]="(loading$ | async) ?? false"
></app-add-edit-category-top-bar>
<main class="add-edit-category">
  <app-text-field
    label="Nombre"
    [value]="name"
    (valueChange)="onNameChange($event)"
    [error]="(showError$ | async) ?? false"
    [errorMessage]="EMPTY_ERROR"
  ></app-text-field>
  <div class="actions">
    <app-button
      label="Cancelar"
      [variant]="buttonVariant.OUTLINED"
      (btnClick)="onCancel()"
      [fullWidth]="true"
    ></app-button>
    <app-button
      [label]="editVariant ? 'Actualizar' : 'Agregar'"
      [variant]="buttonVariant.FILLED"
      (btnClick)="onConfirm()"
      [disabled]="(loading$ | async) ?? false"
      [fullWidth]="true"
    ></app-button>
  </div>
</main>

<app-delete-category-dialog
  [show]="(showDeleteDialog$ | async) ?? false"
  (closeClick)="onCloseDialog()"
  (cancelClick)="onCloseDialog()"
  (confirmClick)="onDeleteConfirm()"
></app-delete-category-dialog>
