<a
  *ngIf="href"
  [routerLink]="href"
  [ngClass]="{
    'button--filled': variant === buttonVariant.FILLED,
    'button--tonal': variant === buttonVariant.TONAL,
    'button--outlined': variant === buttonVariant.OUTLINED,
    'button--text': variant === buttonVariant.TEXT,
    disabled: disabled,
    ripple: !disabled
  }"
>
  <ng-container *ngTemplateOutlet="content"></ng-container>
</a>

<button
  *ngIf="!href"
  [type]="type"
  class="button"
  [ngClass]="{
    'button--filled': variant === buttonVariant.FILLED,
    'button--tonal': variant === buttonVariant.TONAL,
    'button--outlined': variant === buttonVariant.OUTLINED,
    'button--text': variant === buttonVariant.TEXT,
    disabled: disabled,
    ripple: !disabled,
    'full-width': fullWidth
  }"
  (click)="onClick()"
>
  <ng-container *ngTemplateOutlet="content"></ng-container>
</button>

<ng-template #content>
  <ng-content></ng-content>
  <span class="label">{{ label }}</span>
</ng-template>
