<app-add-edit-product-top-bar
  [editVariant]="editVariant"
  (closeClick)="onClose()"
  (deleteClick)="onDelete()"
  [canDelete]="(isAdmin$ | async) ?? false"
  [loading]="(loading$ | async) ?? false"
></app-add-edit-product-top-bar>
<main class="add-edit-product">
  <app-product-image
    [image]="(imgSrc$ | async) ?? ''"
    (valueChange)="onImageChange($event)"
    [error]="(showImgError$ | async) ?? false"
    [errorMessage]="NO_IMAGE_ERROR"
    [loading]="(loading$ | async) ?? false"
  ></app-product-image>
  <app-text-field
    label="Nombre"
    [value]="name"
    (valueChange)="onNameChange($event)"
    [error]="(showNameError$ | async) ?? false"
    [errorMessage]="EMPTY_ERROR"
  ></app-text-field>
  <app-text-field
    label="Descripción"
    variant="multiline"
    [value]="description ?? ''"
    (valueChange)="onDescriptionChange($event)"
  ></app-text-field>
  <app-text-field
    label="Precio"
    [options]="cleaveOptions"
    placeholder="4.00"
    [value]="price ?? ''"
    (valueChange)="onPriceChange($event)"
  ></app-text-field>
  <app-text-field
    variant="select"
    label="Categoría"
    [value]="selectedCategory?.id ?? ''"
    (valueChange)="onCategoryChange($event)"
    [error]="(showCategoryError$ | async) ?? false"
    [errorMessage]="NO_CATEGORY_ERROR"
  >
    <option value="" disabled selected>Elegir categoría</option>
    <option [value]="category.id" *ngFor="let category of categories$ | async">
      {{ category.name }}
    </option>
  </app-text-field>
  <app-switch
    label="Recomendado"
    [checked]="(recommended$ | async) ?? false"
    (checkedChange)="onRecommendedToggle()"
  ></app-switch>
  <div class="actions">
    <app-button
      [variant]="buttonVariant.OUTLINED"
      label="Cancelar"
      (btnClick)="onCancel()"
      [fullWidth]="true"
    ></app-button>
    <app-button
      [variant]="buttonVariant.FILLED"
      [label]="editVariant ? 'Actualizar' : 'Agregar'"
      (btnClick)="onConfirm()"
      [fullWidth]="true"
    ></app-button>
  </div>
</main>

<app-delete-product-dialog
  [show]="(showDeleteDialog$ | async) ?? false"
  (closeClick)="onCloseDialog()"
  (cancelClick)="onCloseDialog()"
  (confirmClick)="onDeleteConfirm()"
></app-delete-product-dialog>
