.login {
  min-height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
  padding: 0 1.6rem;

  &__container {
    width: 100%;
    border-radius: 2.4rem;
    padding-bottom: 3.2rem;
    overflow: hidden;
  }

  &__fields {
    display: flex;
    flex-direction: column;
    padding: 0 1.6rem;
  }

  &__email {
    margin-top: 1.6rem;
  }

  &__password {
    margin-top: 0.8rem;
  }

  &__forgot-password {
    align-self: flex-end;
    margin-bottom: 4rem;
  }

  &__confirm {
    align-self: center;
  }
}

.pattern {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  height: unset;
}
