@use "../../../../sass/base/typography";
@use "../../../../sass/abstracts/placeholders";

.file-field {
  position: relative;

  &__label {
    @extend %body-l;

    margin-bottom: 0.4rem;
    display: block;
    width: fit-content;
  }

  &__input {
    display: flex;
    align-items: center;
    column-gap: 0.8rem;
    width: fit-content;
  }

  &__name {
    @extend %body-s;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &__error {
    @extend %label-s;

    margin-left: 1.6rem;
    margin-top: 0.4rem;
    text-align: start;
  }

  &__default-input {
    visibility: hidden;
    position: absolute;
  }
}
