<div class="file-field">
  <label class="file-field__label" for="file-input">{{ label }}</label>
  <div class="file-field__input" (click)="onInputClick(inputBox)">
    <app-button
      [variant]="buttonVariant.TONAL"
      [label]="buttonLabel"
    ></app-button>
    <div class="file-field__name">{{ value }}</div>
  </div>

  <input
    id="file-input"
    type="file"
    accept="image/png, image/jpeg"
    #inputBox
    (input)="onValueChange(inputBox.files?.[0]?.name ?? '')"
    class="file-field__default-input"
  />
  <p class="file-field__error">{{ error ? errorMessage : "&nbsp;" }}</p>
</div>
