input,
textarea {
  &::placeholder {
    color: inherit;
    opacity: 0.38;
  }
}

input,
select {
  align-items: center;
  background: none;
  border: none;
  outline: none;
  display: flex;
  height: 5.6rem;
  padding: 0 1.6rem;

  &:focus {
    outline: none;
  }
}

textarea {
  padding: 1.6rem;
  border: none;
  outline: none;

  &:focus {
    outline: none;
  }
}

select {
  width: 100%;
  appearance: none;
}
