@use "../base/typography";

input,
textarea {
  &::placeholder {
    color: inherit;
    opacity: 0.38;
  }
}

input,
select {
  align-items: center;
  background: none;
  border: none;
  outline: none;
  display: flex;
  height: 5.6rem;
  padding: 0 1.6rem;

  &:focus {
    outline: none;
  }
}

input[type="password"].text-field__input {
  @extend %headline-s;
  letter-spacing: 0.2rem;
}

textarea {
  padding: 1.6rem;
  border: none;
  outline: none;

  &:focus {
    outline: none;
  }
}

select {
  width: 100%;
  appearance: none;
}

input.text-field__input + .end-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1.6rem;
}
