<ul class="cards">
  <li class="home-card-item">
    <app-navigation-card label="Menú">
      <img src="../../../../../assets/menu.svg" alt="Menú de restaurant" />
    </app-navigation-card>
  </li>
  <li class="home-card-item">
    <app-navigation-card label="Correos">
      <img
        src="../../../../../assets/email.svg"
        alt="Sobre abierto con un mensaje dentro"
      />
    </app-navigation-card>
  </li>
  <li class="home-card-item">
    <app-navigation-card label="Usuarios">
      <img src="../../../../../assets/team.svg" alt="Equipo de personas" />
    </app-navigation-card>
  </li>
</ul>
