@use "../../../../sass/abstracts/placeholders";

.button--text {
  @extend %ripple;

  display: flex;
  align-items: center;
  column-gap: 0.8rem;
  height: 4rem;
  min-width: 4.8rem;
  text-align: center;
  border-radius: 2rem;

  &:has(span:only-child) {
    padding: 0 1.2rem;
  }

  &:not(:has(span:only-child)) {
    padding-left: 1.2rem;
    padding-right: 1.6rem;
  }
}
